@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Maitree:wght@200;300;400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: "Prompt";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --h1-font: 3rem;
    --h2-font: 2.9rem;
    --p-font: 1.3rem;
    --p2-font: 1.75rem;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #555555;
}

/* TRANSITION */
a,
.btn {
    transition: all 300ms ease;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

a:visited {
    color: inherit;
    /* ไม่เปลี่ยนสีเมื่อเข้าชมแล้ว */
}

/* navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: white;
    transition: all 0.5s ease;
}

.logo {
    font-size: 36px;
    color: black;
    font-weight: 600;
}

.navlist {
    display: flex;
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    margin-left: 40px;
    transition: all 0.5s ease;
}

.navlist a:hover {
    color: grey;
}

#menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

header.sticky {
    background: white;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 10px 10%;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    color: black;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: #353535;
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* section */
section {
    padding-top: 10vh;
    margin: 0 auto;
    max-width: 1400px;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    padding: 20px 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

/* PROFILE SECTION */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: var(--p2-font);
    margin-bottom: 1rem;
}

.title {
    font-size: var(--h1-font);
    font-weight: 700;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* ABOUT SECTION */
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    height: 80vh;
}

.about-img {
    align-items: center;
    text-align: center;
}

.about-img img {
    width: 100%;
    height: 530px;
    max-width: 530px;
    border-radius: 20%;
    object-fit: cover;
    border: 7px solid #353535;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 20px;
}

.exp-area {
    margin-bottom: 30px;
}

.exp-area p {
    color: #555555;
    font-weight: 600;
    font-size: 19px;

    line-height: 42px;
}

.exp-area p span {
    color: #353535;
    font-size: var(--p-font);
    font-weight: 400;
    margin-left: 8px;
}

/* series */
.series-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    outline: 2px solid white;
}

.series-img {
    padding: 10px;
}

.series-img img {
    width: 100%;
    border-radius: 20px;
}

.series-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}

.series-detail {
    text-align: center;
    padding: 10px;
    align-items: center;
    margin-top: auto;
}


/* single */
.single-con {
    padding: 20px 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem; /* ใช้ gap แทน grid-gap */
}

.single-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* ต้องการให้ single-detail ติดขอบล่าง */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    outline: 2px solid white;
}

.single-item:hover {
    outline: 2px solid #a2d2ff;
}

.single-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}

.single-img {
    padding: 10px;
}

.single-img img {
    width: 100%;
    border-radius: 20px;
}

.single-detail {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    /* ดัน single-detail ให้ไปอยู่ล่างสุด */
}

.single-right span {
    font-size: 15px;
}

/* online content */
.content-con {
    padding: 20px 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}
.nav-links a {
    font-size: var(--p-font);
    font-weight: 500;
}
.nav-links a:hover {
    color: grey;
}
.content-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    transition: 0.3s;
    /* outline: 1px solid #ddd; */
    overflow: hidden;
}
.content-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.thumbnail {
    width: 100%;
    border-radius: 20px;
}

.channel-info {
    display: flex;
    padding: 10px 0;
}

.channel-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.channel-info div {
    flex-grow: 1;
}

.channel-info h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.channel-info p {
    margin: 0;
    color: #555;
}

.date {
    font-size: 0.9em;
    color: #888;
}

.content-menu-con {
    padding: 20px 1%;
    display: flex;
    justify-content: center; /* Centers the menu horizontally */
}


/* event */
.event-con {
    padding: 20px 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.event-item {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.groupbydate {
    background: #353535;
    color: white;
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 2rem;
}
hr {
    border: 1px solid black; /* กำหนดความหนาและสีของเส้น */
    width: 100%; /* กำหนดความกว้างของเส้นให้เป็น 50% ของหน้าเว็บ */
    margin: 20px auto; /* จัดให้อยู่ตรงกลางด้วยการตั้ง margin ด้านซ้าย-ขวาเป็น auto */
}

.event-img {
    height: 280px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-img img {
    width: 100%;
}

.event-content {
    padding: .5rem 1rem;
}

.event-content p {
    font-size: 20px;
}

.event-tag {
    font-size: 12px;
}

.event-detail-box {
    border: #353535 0.1rem solid;
    background-color: white;
    width: fit-content;
    padding: 0px 10px;
    border-radius: 20px;
    margin: 6px 0px;
    font-size: 14px;
}

.event-detail-box-center {
    border: #353535 0.1rem solid;
    text-align: center;
    background: rgb(53, 53, 53);
    color: white;
    /* width: fit-content; */
    padding: 5px 10px;
    border-radius: 40px;
    margin: 10px 0px;
}

.event-detail-box-center:hover {
    background: rgb(0, 0, 0);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    flex-direction: column;
    height: 70vh;
}

.contact-con {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    padding: 2rem;
    margin: 2rem auto;
}

.contact-item {
    /* background-color: #a2d2ff; */
    width: fit-content;
    gap: 0.5rem;
    display: flex; /* Enable flexbox for each contact item */
    align-items: center; /* Center image and text vertically */
}

.contact-item p {
    font-size: larger;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* footer */
.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

@media (max-width: 1700px) {
    header {
        padding: 20px 5%;
    }

    header.sticky {
        padding: 14px 5%;
    }

    .logo {
        font-size: 28px;
    }

    /* .container {
        padding: 90px 2% 80px;
    } */
}

@media (max-width: 1380px) {

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: white;
        transition: all 0.5s ease;
    }

    .navlist a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }

    .navlist.active {
        right: 0;
    }

    .container {
        padding: 90px 2% 80px;
    }

    section {
        padding: 90px 2% 0px;
    }

    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
}

@media (max-width: 1240px) {

    #profile,
    .section-container {
        display: block;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    #about {
        grid-template-columns: 1fr;
        grid-area: 2rem;
        text-align: center;
    }

    .about-img img {
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    #socials-container {
        display: flex;
        justify-content: center;
    }
    .event-con {
        padding: 20px 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem; /* ใช้ gap แทน grid-gap */
    }

    :root {
        --h1-font: 2.5rem;
        --h2-font: 2rem;
        --p-font: 1.1rem;
        --p2-font:1.5rem;
    }
}

@media (max-width: 470px) {
    :root {
        --h1-font: 2rem;
        --h2-font: 1.5rem;
        --p-font: 1rem;
        --p2-font:1.2rem;
    }

    .about-img img {
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }

    .contact-con {
        border-radius: 2rem;
        padding: 2rem;
        margin: 2rem auto;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-item {
        width: 200px;
        gap: 0.5rem;
        display: flex;
        align-items: center;
    }
}